.header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 6px;
  box-shadow: rgb(237 113 52 / 60%) 0px 0px 14px 7px;
  z-index: 1000;
  animation: fadeIn 1.4s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
