.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px 8px;
}
.itemName {
  font-weight: 600;
}

.itemNumber {
  margin-left: auto;
}

.btn {
  font-size: 15px;
  margin-left: auto;

  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.9s ease-in-out;
}

.btn:hover {
  transform: scale(1.5) rotate(360deg);
}

.divv {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
