.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.itemName {
  font-weight: 600;
  margin-left: auto;
}

.itemNumber {
  margin-left: auto;
}

.btnDelete {
  font-size: 15px;
  margin-left: auto;
  padding: 5px 8px;

  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.9s ease-in-out;
}

.btnDelete:hover {
  transform: scale(1.2) rotate(360deg);
}
